langchain
python-dotenv
langchain-community
pypdf
arxiv
pymupdf
wikipedia
langchain-text-splitters
sentence_transformers
langchain_huggingface
tf-keras
faiss-cpu
langchain_chroma
streamlit
langchain_groq
langchain_core
sse_starlette
duckduckgo-search
