langchain
python-dotenv
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-voyageai
chromadb
sentence_transformers
langchain_huggingface
tf-keras
faiss-cpu
langchain_chroma
openai
beautifulsoup4
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
ddgs
validators==0.35.0
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
cassio
datasets
tiktoken
transformers
accelerate
torch
torchvision
torchaudio
gradio
